* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.box {
    width: 700px
}
h1 {
    text-align: center;
    padding: 20px;
}
h4 {
    margin: 0px;
    padding: 5px;
    border: 1px solid black;
    border-top: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
}
p {
    color: #4cae4c;
    padding: 50px 17px 10px 17px;
}
.bg1 {
    background-color: #0081ff;
}
.bg2 {
    background-color: #00ff4b;
}
.bg3 {
    background-color: #ff0062;
    color: #ffffff;
}
.p_sec{
    height: 250px;
    background-color: gray;
    border: 1px solid black;
    margin-bottom: 30px;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
}
